/*Home - Users*/

#nav-home .container {
    padding: 15px 0px;
}

/* style customer*/
.pb-1 {
    padding-bottom: 1em;
}

.pb-2 {
    padding-bottom: 2em;
}

.pb-3 {
    padding-bottom: 3em;
}

.pb-4 {
    padding-bottom: 4em;
}

.pb-5 {
    padding-bottom: 5em;
}

.header-deleteModal {
    border: none;
}

.text-eliminar {
    padding: 1em 3em;
}

.btn-delete {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-delete:hover {
    opacity: 1;
}

.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}

.cancelbtn {
    background-color: #ccc;
    color: black;
}

.deletebtn {
    background-color: #f44336;
}

div#example2_filter {
    text-align: right;
}

.img-producto {
    width: 100%;
}

.table-productForProviders {
    width: 100%;
    display: none;
}

.alert-nullProdict {
    display: none;
}

#quantity_wanted {
    color: #313537;
    width: 60px;
    line-height: 20px;
    padding: 12px;
    text-align: center;
    border: 1px solid #313537;
    background: none;
    margin: 0;
    font-size: 15px;
    max-width: 60px;
    padding: 21px;
}

.input-group-btn-vertical {
    display: flex;
    flex-direction: column;
}

.input-group-btn-vertical .btn {
    padding: 0;
    margin: 0;
    border: 1px solid #333;
    position: relative;
    border-left: none;
    flex-grow: 1;
    width: 21px;
}

.input-group.bootstrap-touchspin {
    margin: 0.5em 0em;
}

td.quantityTd {
    width: 100px;
}
table#productosAgregados {
    width: 100%;
}

.d-none, .show-print {
    display: none;
}
.w-30 {
    width: 30%;
}
.m-0 {
    margin: 0px !important;
}
.trComprobante td{
    padding: 0px !important;
}
@media print {
    .hidden-print {
      display: none !important;
    }
    .show-print {
        display: block !important;
    }
  }
